.e-grid .e-headercell, .e-grid .e-detailheadercell{
    background-color: #042842;
    color: white;
    font-weight: bold;
    
    font-size: 12px;
    white-space: pre-wrap !important;
}


 .e-grid.e-responsive .e-headercelldiv
{
    white-space: pre-wrap !important;
    max-height: auto !important;
    line-height: normal !important;
}

.e-toolbar .e-tbar-btn
{
    background: #5bc0de;
    border-color: #343a40;
}


.sidebar-dark-primary
{
    width: 100%;
    height: 80px;
    background-color: #343a40;
    margin-bottom: 20px;
}

.logo-lg
{
    width: 250px;
    height: 70px;
    padding-left: 10px;
    padding-top: 10px;
}

.multiselect-dropdown .dropdown-btn
{
    border-bottom: 2px solid gray;
}

.multiselect-dropdown
{
    width: 600px;
}

.group {
    position: relative;
    margin-bottom: 25px;
}

.searchDiv
{
   padding: 10px; 
   /* margin: 50px; */
    display: block;
    margin-bottom: 10px;
}

.searchDropDown
{
    max-width:70%;
    flex: 0 0 70%;
    font-size: 12px;
    font-family: sans-serif;
}

.searchInputDiv
{
    max-width:50%;
    flex: 0 0 50%;
}

.searchTableDiv
{
   padding: 10px; 
    margin-left: 20px;
   /* max-width: 95%;*/ 
}

.input-group
{
    flex-wrap: nowrap;
}

.input-group-text
{
    background-color: #042842;
    color: #fafafa;
    font-weight:bold;
    border: none;
}

.col-md-6
{
    flex: 0 0 40%;
}

.e-grid .e-gridheader .e-icons:not(.e-icon-hide):not(.e-check):not(.e-stop)
{
    color:#ffca1c;
}

/* Style buttons */
.dwlbtn {
    background-color: transparent;
    border: none;
    color: #023d67;
    cursor: pointer;
    font-size: 16px;

  }
  
  /* Darker background on mouse-over */
  .dwlbtn:hover {
    background-color: #023d67;
    color: #f2f2f2;
  }

  .user-div
  {
    position: absolute; 
    right: 30px; top: 25px;
  }

  .search-btn-style
  {
    padding: .5rem 1rem;
    font-size: 13px;
    font-weight: bold;
    color: #f2f2f2;
    background-color: #ec3a76;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2)
  }

  .so-btn-lg
  {
    padding: .5rem 1rem;
    font-size: 13px;
    font-weight: bold;
    border-radius: 5px;
    background-color: #ec3a76;
  }

  .loggedUserName
  {
    color: #353a3f;
    background-color: #f2f2f2;
    border-radius: 25px;
    padding: .5rem 1rem;
    border: 1px solid #ec3a76;
    margin-right: 20px;
  }



  .toastSucces
  {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }

  .toastFailed
  {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
  }

  .e-toast-container .e-toast {
   /* background-color:#fff1c2;
    border:2px solid #343a40;*/
    width: 50%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin-top: 300px;
}

.e-toast-container .e-toast .e-toast-message .e-toast-content {
    text-align: center;
}