
<div class="sidebar-dark-primary">
    <a href="#" > <img src="assets/images/lamplogo.png" alt="LAMP" class="logo-lg"></a>
    <div class="user-div">
      <span class="loggedUserName">
      <i class="fa fa-user-circle" style="font-size: 17px;" aria-hidden="true"></i><label style="font-size: 15px;margin-left: 5px;">{{loggedUser}}</label>
      </span>
    <a href="" class="btn-info so-btn-lg">
      <i class="fas fa-sign-out-alt"></i> Sign out
    </a>
  </div>
</div>
<!--<table id="adDetailsTable" class="table table-striped table-bordered" style="width:100%" >
    <thead class="thead-dark">
      <tr>
         <th>Advert ID</th>
         <th>Advert Title</th>
         <th>Journal Name</th>
         <th>Issue ID</th>
         <th>Year</th>
         <th>Color Mode</th>
         <th>Advert Size</th>
         <th>Category</th>
         <th>Submitted Date</th>
         <th>Client File Name</th>
         <th>LDL File Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let amd of adManagementDetailList">
        <td>{{amd.advertId}}</td>
        <td>{{amd.advertTitle}}</td>
        <td>{{amd.journalid}}-{{amd.journalName}}</td>
        <td>{{amd.issueId}}</td>
        <td>{{amd.year}}</td>
        <td>{{amd.color_mode}}</td>
        <td>{{amd.advertSize}}</td>
        <td>{{amd.category}}</td>
        <td>{{amd.submittedDate}}</td>
        <td>{{amd.clientFileName}}</td>
        <td>{{amd.ldlFileName}}</td>
      </tr>
    </tbody>
  </table>
  <label>Test</label> -->

<div class="searchDiv">
<form #searchform="ngForm" (ngSubmit)="searchAction()">
 
 <div class="input-group mb-3 input-group-sm col-sm-12" >
    <div class="input-group-prepend">
      <span class="input-group-text">Journal ID : </span>
    </div>
    <div id="multiSelectDropDown" class="searchDropDown">
     <ng-multiselect-dropdown name="journalIdDropDown"
      [placeholder]="'Select Journal Id'"
      [data]="journalDetailsList"
      [(ngModel)]="searchRequest.journalId"
      [settings]="dropdownSettings"
      (onSelect)="onItemSelect($event)"
      (onSelectAll)="onSelectAll($event)" >
     </ng-multiselect-dropdown>
    </div>
  </div>
  <div class="row">
 <div class="col-md-6 col-sm-12">
  <div class="input-group mb-3 input-group-sm col-sm-8">
      <div class="input-group-prepend">
        <span class="input-group-text">Advert Id : </span>
     </div>
     <input type="text" name="advertIdText" id="advertIdText" [(ngModel)]="searchRequest.advertId" style="width:100%">
  </div>
  <div class="input-group mb-3 input-group-sm col-sm-8">
      <div class="input-group-prepend">
        <span class="input-group-text">Issue Id : </span>
     </div>
     <input type="text" name="issueIdText" id="issueIdText" [(ngModel)]="searchRequest.issueId" style="width:100%">
  </div>
  <div class="col-sm-8"> 
    <button class="btn search-btn-style" type="submit"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
    <button style="margin-left:20px;" class="btn search-btn-style" type="reset"><i class="fas fa-times"></i> Clear All</button>
   </div>
</div>
<div class="col-md-6 col-sm-12">
  <div class="input-group mb-3 input-group-sm col-sm-8">
    <div class="input-group-prepend">
        <span class="input-group-text">Year : </span>
    </div>
    <select name="yearText" [(ngModel)]="searchRequest.year" style="width:100%">
      <option value="" >Select Year</option>
      <option *ngFor="let year of yearList" value= {{year}}>
        {{year}}
      </option>
    </select>
  </div>
  <div class="input-group mb-3 input-group-sm col-sm-8">
    <div class="input-group-prepend">
        <span class="input-group-text">Publisher File Name : </span>
    </div>
    <input type="text" name="fileNameText" id="fileNameText" [(ngModel)]="searchRequest.fileName" style="width:100%">
  </div>
  
</div>
</div>
</form>
</div>
  <!--<div id="searchCriteraDiv" class="group">
  <table id="searchCriteraTable" style="width:80%">
    <tr>
  <td> <label id="journalIDLabel">Journal Id : </label>  </td> 
  <td><div id="multiSelectDropDown" style="width:600px;font-size: 12px;">
  <ng-multiselect-dropdown
  [placeholder]="'Select Journal Id'"
  [data]="journalDetailsList"
  [(ngModel)]="selectedItems"
  [settings]="dropdownSettings"
  (onSelect)="onItemSelect($event)"
  (onSelectAll)="onSelectAll($event)" >
</ng-multiselect-dropdown>
</div></td>
</tr>
</table>
</div> 
<ejs-dialog id='dialog' #ejDialog content='This is a Dialog with content' width='250px'>
</ejs-dialog>

<div #container class='root-container'></div>
<ejs-dialog id='dialog' #ejDialog isModal='true'
content='This is a modal dialog' [target]='targetElement' width='250px'> </ejs-dialog>-->



<div id="mainDiv" class="searchTableDiv"> 
<form #gridform="ngForm">
 <ejs-grid #grid id='Grid' [dataSource]='adManagementDetailList' [allowPaging]="true" locale="en-US"  [allowResizing]="true"  [allowFiltering]="true" [allowSorting]="true" 
  [allowExcelExport]="true" [filterSettings]="filterSettings" 
 [editSettings]='editOption' [toolbar]='toolbarOption' [enableAutoFill]="true" [pageSettings]='pageSettings' (toolbarClick)='toolbarClick($event)' (actionBegin)='actionBegin($event)'
 (actionComplete)='actionComplete($event)' (queryCellInfo)='tooltip($event)'  (rowDataBound)='rowDataBound($event)'>
  <e-columns class="thead-dark">
      <e-column field='advertId'  headerText='Advert ID' textAlign='left' [validationRules]='advertIdRules' [filter]='filterOptions'></e-column>
      <e-column field='advertTitle' headerText='Advert Title' [validationRules]='advertTitleRules' [filter]='filterOptions'>
      </e-column>
      <e-column field='journalName'  headerText='Journal Name' editType='dropdownedit' [edit]='journalddParams' [validationRules]='journalRules' [filter]='filterOptions'></e-column>
      <e-column field='issueId' headerText='Issue ID' [validationRules]='issueIdRules' [filter]='filterOptions'></e-column>
      <e-column field='year' headerText='Year' [filter]='filterOptions' [validationRules]='yearRules' [edit]='yearParam' editType='dropdownedit'></e-column>
      <e-column field='color_mode' headerText='Color Mode' [validationRules]='color_modeRules' [filter]='filterOptions' editType='dropdownedit' [edit]='colorModeParams'></e-column>
      <e-column field='advertSize' headerText='Advert Size' [validationRules]='advertSizeRules' [filter]='filterOptions' editType='dropdownedit' [edit]='advertSizeParams'></e-column>
      <e-column field='category' headerText='Category' [validationRules]='categoryRules' [filter]='filterOptions' editType='dropdownedit' [edit]='categoryParams'></e-column>
      <e-column field='downloadView' headerText="Download / View" [allowEditing]= 'false'>  
        <ng-template #template let-data>
          <!-- Auto width -->
          <button class="dwlbtn" (click)="clicked($event,data)" Title='Download'><i class="fa fa-download"></i></button>
          <button class="dwlbtn" (click)="viewClicked($event,data)" Title='View'><i class="fa fa-eye"></i></button>
         <!--  <button class="dwlbtn" (click)="viewClicked($event,data)" Title='Copy to clipboard'> <i class="fas fa-copy"></i></button>-->
        </ng-template>
   </e-column> 
   <e-column field='activeStatus' headerText='Active Status' [filter]='filterOptions' [allowEditing]= 'true'>
    <ng-template #template let-data>
      <!-- Auto width -->
      
      <i class="fa fa-toggle-on" style="font-size:24px" (click)="MakeAdInactive($event,data)" Title='Click to Deactivate'></i>
     <!--  <button class="dwlbtn" (click)="viewClicked($event,data)" Title='Copy to clipboard'> <i class="fas fa-copy"></i></button>-->
    </ng-template>
   </e-column>
   <e-column field='submittedDate' headerText='Submitted Date' [allowEditing]= 'false' [filter]='filterOptions'></e-column>
   <e-column field='clientFileName' headerText='Publisher File Name'  [edit]='uploadParams'  [filter]='filterOptions'></e-column>
   <e-column field='ldlFileName' headerText='LDL File Name' [filter]='filterOptions' [allowEditing]= 'false'></e-column>
      
      
  </e-columns>
  </ejs-grid>
 <!-- <ejs-dialog id="confirmationDialog" #confirmationDialog  [header]='confirmationHeader' [visible]='false'  width="30%"  [animationSettings]='animationSettings' 
[buttons]='buttons' [content]='confirmationContentMessage'> 
</ejs-dialog> -->
</form> 


<ejs-dialog id="modalDialog" #modalDialog  [header]='dlg_title' [target]='target'  [isModal]='isModal' [showCloseIcon]="true"
 width="80%" [visible]='false' [animationSettings]='animationSettings' > 
  <div >
    <pdf-viewer  [src]="pdfSrc"
                  [render-text]="true" 
                  style="display: block;" [show-borders]="true" [fit-to-page]="true" [autoresize]="true" 
      ></pdf-viewer>
     <img [src]="imgSrc" width="100%" />
    </div>
</ejs-dialog>

<ejs-toast #toastelement [position]='position'>
  
</ejs-toast></div>

  

