<div class="login">
    <div class="login-container">
        <div class="login-left">
            <div class="lbox">
                <img src="assets/images/lamplogo.png" alt="LAMP"
                    class="clogo"> 
                <table class="logotable">
                    <tr>
                    <td>
                        <img src="assets/images/capslogo.png"
                    alt="CAPS" class="llogo">
                    </td>
                    <td>
                        <img src="assets/images/LD-logo.png"
                    alt="Lumina Datamatics" class="llogo">
                    </td>
                </tr>
                </table>
                <p>@ 2020 Lumina Datamatics Ltd. All Rights Reserved.</p>
            </div>
        </div>
        <div class="login-right">
            <form class="form-signin" #loginform="ngForm" (ngSubmit)="loginUser()">
                <h2 class="form-signin-heading">Login</h2>

                <div class="group">
                    <input type="text" required name="email" email="true" [(ngModel)]="userInfo.userId"> <label>Email Address</label>
                </div>

                <div class="group">
                    <input type="password" required name="password" [(ngModel)]="userInfo.password"> <label>Password</label>
                </div>
                
                <div class="group">
                   <!-- <a href="resetpass" class="forgotPass">Forgot your password?</a> -->
                    <button class="btn btn-lg btn-default btn-block" type="submit">Sign
                        in</button>
                </div>

                <div class="group">
                    <label class="text-danger">{{loginMessage}}</label>
                </div>
            </form>
        </div>
    </div>
</div>



<!--<div class="container">
    <form #loginform="ngForm" (ngsubmit)="loginuser()">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" [(ngModule)]="userInfo.email" >
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd" [(ngModule)]="userInfo.password"> 
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="remember"> Remember me</label>
      </div>
      <button type="submit" class="btn btn-info">Submit</button>
    </form>
  </div>-->
