/*
Project Name: CAPS
Date : 10-04-2019
Author: Amar Kholambe (amar.kholambe@luminad.com)
*/

.space-15 {
    margin: 15px 0;
  }
  .space-20 {
    margin: 20px 0;
  }
  .space-25 {
    margin: 25px 0;
  }
  .space-30 {
    margin: 30px 0;
  }
  .space-50 {
    margin: 50px 0;
  }
  .space-75 {
    margin: 75px 0;
  }
  
  .login {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
  }
  
  .login-container {
      width: 900px;
      margin: 0 auto;
      height: 500px;
      box-shadow: 0 0 15px #333333;
  }
  
  .login-left {
      background: #00132E;
      float: left;
      width: 45%;
      padding: 45px 30px 0;
      height: 100%;
  }
  
  .login-right {
      float: left;
      width: 55%;
      padding: 45px 30px 0;
      height: 100%;
  }
  
  .form-signin, .form-reset-password {
      padding: 0 30px;
      overflow: auto;
      /*height: 410px;*/
      height: 425px;
  }
  
  .lbox {
      width: 100%;
      display: block;
  }
  
  .clogo {
      width: 200px;
      margin: 150px auto auto;
      display: block;
  }
  
  .llogo {
      width: 100px;
      display: block;
  }
  
  .logotable {
    width:75%;  
    margin: 150px auto auto;
}

  .lbox p {
      margin: 20px auto auto;
      color: #ffffff;
      font-size: 12px;
      text-align: center;
  }
  
  .form-signin-heading {
      padding-bottom: 30px;
      text-align: center;
      color: #00132E;
      margin: 0;
  }
  
  .lang_label {
      position: initial !important;
      display: inline-block;
      margin-right: 5px;
  }
  
  select {
      width: 70px !important;
      display: inline-block !important;
  }
  
  /* form starting stylings ------------------------------- */
  
  .login .group {
      position: relative;
      margin-bottom: 45px;
  }
  
  .login input {
      padding: 10px 10px 10px 5px;
      display: block;
      width: 100%;
      border: none;
      border-bottom: 1px solid #00132E;
  }
  
  .login input:focus {
      outline: none;
  }
  
  /* LABEL ======================================= */
  
  .login label {
      color: #999;
      /* font-size: 18px; */
      font-weight: normal;
      position: absolute;
      pointer-events: none;
      left: 5px;
      top: 15px;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
  }
  
  /* active state */
  
  .login input:focus~label, .login input:valid~label {
      top: -20px;
      font-size: 14px;
      color: #5264AE;
  }
  
  /* active state */
  
  .login input:focus~.highlight {
      -webkit-animation: inputHighlighter 0.3s ease;
      -moz-animation: inputHighlighter 0.3s ease;
      animation: inputHighlighter 0.3s ease;
  }
  
  /* ANIMATIONS ================ */
  
  @-webkit-keyframes inputHighlighter {
      from {
          background: #5264AE;
      }
      to {
          width: 0;
          background: transparent;
      }
  }
  
  @-moz-keyframes inputHighlighter {
      from {
          background: #5264AE;
      }
      to {
          width: 0;
          background: transparent;
      }
  }
  
  @keyframes inputHighlighter {
      from {
          background: #5264AE;
      }
      to {
          width: 0;
          background: transparent;
      }
  }
  
  .login button {
      border-color: #00132E;
      color: #00132E;
      font-size: 18px;
  }
  
  .login button:hover, .login button:active, .login button:focus {
      background-color: #00132E !important;
      color: #ffffff !important;
  }
  
  .forgotPass {
      color: #55729c;
      margin-bottom: 20px;
      display: block;
  }
  
  .form-reset-password input {
      padding: 8px 8px 8px 5px;
  }
  
  .form-reset-password label {
      top: 10px;
  }
  
  .form-reset-password .group {
      margin-bottom: 40px;
  }
  
  .header {
      height: 200px;
      background: #425464;
  }
  
  .footer {
      height: 200px;
      background: #425464;
  }
  
  @media only screen and (max-width: 900px) {
      .login, .login-container {
          width: 100%;
      }
  }
  
  @media only screen and (max-width: 768px) {
      .login {
          top: 150px;
      }
      .login-left, .login-right {
          width: 100%;
          float: none;
      }
      .form-signin, .form-reset-password {
          height: 100%;
          display: initial;
      }
  }
  
  /* width */
  
  ::-webkit-scrollbar {
      width: 5px;
  }
  
  /* Track */
  
  ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 2px;
  }
  
  /* Handle */
  
  ::-webkit-scrollbar-thumb {
      background: #444;
      border-radius: 2px;
  }
  
  /* Handle on hover */
  
  ::-webkit-scrollbar-thumb:hover {
      background: #333333;
  }
  
  .alert {
      z-index: 9999;
      position: fixed;
      top: 10px;
      width: auto;
      left: 50%;
      transform: translateX(-50%);
  }
  
  .btn-outline-dark {
      background: transparent;
  }