.e-grid .e-headercell .customcss{
  background-color: #013d67  !important;;
    color: #f2f2f2;
    font-family: 'Bell MT';
    font-size: 20px;
    max-height: auto !important;
}

/**.e-grid.e-responsive .e-rowcell, .e-grid.e-responsive .e-headercelldiv
{
    white-space: pre-wrap !important;
    height: auto !important;
    line-height: normal !important;
}**/
