


@import '../node_modules/@syncfusion/ej2-material-theme/styles/material.css';

#Grid_dialogEdit_wrapper
{
    width: 60% !important;
    max-width: 60% !important;
}

#modalDialog
{
    width: 85% !important;
    max-width: 85% !important;
    max-height: 80% !important;
}

.e-dialog .e-dlg-header-content
{
    background-color: #152635;
    color: #f2f2f2;
}


.e-dialog .e-footer-content
{
    background-color: #152635;
}

.e-dialog .e-dlg-header
{
    color: #f2f2f2;
}

.e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn
{
    background-color: #dad6d6 !important;
}

.e-btn.e-flat.e-primary, .e-css.e-btn.e-flat.e-primary
{
    background-color: #f2f2f2 !important;
    border-color: lightgray !important;
}

.e-btn.e-flat.e-primary, .e-css.e-btn.e-flat.e-primary
{
    background-color: #f2f2f2 !important;
    border-color: lightgray !important;
}

.e-btn.e-flat, .e-css.e-btn.e-flat

{
    background-color: #f2f2f2 !important;
    border-color: lightgray !important;
}

.e-grid.e-responsive .e-headercelldiv
{
    white-space: pre-wrap !important;
    max-height: max-content !important;
    line-height: normal !important;
    overflow: visible;
    margin: 0;
    padding: 0 0 0 im !important;
}

.e-grid .e-headercell, .e-grid .e-detailheadercell
{
    padding: 0 0 0 !important;
}